[2016-05-12 16:06] ldecicco-USGS opened #4 "Check literature in Austin's paper to get data on microplastics in animals"

[2016-05-12 16:19] ldecicco-USGS opened #5 "Skeleton"
Make folders (on same level as layout):
scripts
  folders to indicate things like download/munge/process/visualize/tie it all together/etc...
data
  (make approach? cache folder)
figures
   (different filenames or folders for each figure: IE, mobile, desktop)
text
images

Top level: vis.yaml

[2016-05-12 16:31] ldecicco-USGS opened #6 "Big picture: look and feel"
Colors, fonts, css, user experience, consistent triggers, figure dimensions / aspect ratio, etc.....

Let's keep this issue open to add more that come up.

This team is @mwernimont  @eread-usgs @jiwalker-usgs

[2016-05-12 16:51] ldecicco-USGS opened #7 "Chapter 1: Flowing plastic types..."
So, start with each type being equal (circle?), with explanation over what they are. Then they collapse into the stacked bar.

See if there are pictures of each kind?

[2016-05-12 16:57] ldecicco-USGS commented on #7
Initially, it will automatically come together, then you can hover on the bars to pop out the circle that made that bit.

[2016-05-12 17:29] ldecicco-USGS opened #8 "Chapter 2: Fish icon"
Scroll by and see a fish (or oyster or whatever) and a big number scrolls by...
- [x]  Get data
- [x] Make oyster
- [ ] Assemble!

[2016-05-12 17:30] ldecicco-USGS commented on #8
Have fish scroll at different rate than numbers

[2016-05-12 17:46] ldecicco-USGS opened #9 "Chapter 3: Land use figure"
- Be sure to include more text on other hypotheses...verbatim on bullet points:
  From fact sheet:

[code]
- Must have: look cool when sorted
- Must have: Start with west -> east, then sort to urban? easy trigger
- Nice to have: Hover would have ave. conc. and type or land type info
- No prompt

gsplot/munge @lindsaycarr
- [x] move data manipulation code to the munge function
- [x] new visualize f

[2016-05-12 17:50] ldecicco-USGS opened #10 "Chapter 0 or 3.5: Map?"

[2016-05-12 17:53] ldecicco-USGS opened #11 "Hook:"
Summarize bead bans
ie...in 2016 micro-beads were banned...

[2016-05-12 18:04] ldecicco-USGS commented on #9
1. Create gsplot
2. In gsplot object, annotate each site key
3. Render with dinoSVG as structured SVG
4. Define quick sort (pretty sort)
5. Write javascript to make it flip states

[2016-05-12 18:21] aappling-usgs opened #12 "Data for Chapter 1"
table of types, amounts

need to pull from SB, put into cache folder

[2016-05-12 18:22] aappling-usgs opened #13 "Data for Chapter 3"
table of site IDs, amount of each microplastic type, and land uses

script needs to pull from SB, put in cache

[2016-05-12 19:11] jiwalker-usgs commented on #5
I decided to leave out figures (since these should be generated and not checked into source control) and text (I'm not sure about this, I think just putting that in data should suffice).

[2016-05-12 21:18] lindsayplatt commented on #6
functions = camel case (`mungeRelativeAbundance`)
variables = dots (`raw.data`)
files= underscores (`munged_relative_abundance.json`)

[2016-05-13 13:19] jordansread commented on #7
@mwernimont am going to assign a breakout task from this

[2016-05-13 13:22] jordansread opened #22 "Create static SVG for 5 sphere types flowing into the bar chart"
using the `relativeAbundance-desktop.svg` fig to start, move that around, use better colors and have the circles feed into the bar charts (see diagram)

[2016-05-13 13:22] jordansread commented on #22
see #19 PR for that svg

[2016-05-13 17:41] #5 closed, assigned to jiwalker-usgs

[2016-05-13 17:54] ldecicco-USGS commented on #9
Data for the top part of the graph is there. I'll work on getting the rest of the land use for the bottom part.

@lindsaycarr will start working to make this work in gsplot:

[code]

[2016-05-13 18:06] lindsayplatt commented on #12
#15 + #20 + #25

[2016-05-13 18:06] #12 closed, assigned to nobody

[2016-05-13 19:35] lindsayplatt commented on #13
@ldecicco-USGS in the final mungeLandUse tsv, can we have it in long form? Where landuse type is a column? That would be super helpful!

[2016-05-13 20:35] #13 closed, assigned to ldecicco-USGS

[2016-05-13 20:35] ldecicco-USGS commented on #4
@eread-usgs can this be closed?

[2016-05-16 15:16] ldecicco-USGS opened #41 "make workflow in readme"

[2016-05-16 15:31] lindsayplatt commented on #9
- [x] move data manipulation code to the munge function
- [x] new visualize function for creating gsplot object
- [x] return two gsplot objects

[2016-05-16 16:15] #41 closed, assigned to aappling-usgs

[2016-05-16 17:51] #4 closed, assigned to nobody

[2016-05-16 20:01] eread-usgs opened #61 "share hex colors w us all"
- [x]  5 main colors
- [x]  plus some extra colors
- [x]  red yellow and green for land use

[2016-05-16 20:14] mwernimont commented on #61
![colors](https://cloud.githubusercontent.com/assets/6390096/15302485/da613914-1b78-11e6-966f-55b8d8dfe9c5.jpg)

[2016-05-16 20:15] mwernimont commented on #61
Main colors from the picture, will look into the other 3 soon

[2016-05-17 13:44] jordansread opened #70 "Configurable box spacing gap?"
@lindsaycarr the rect elements in the plot #68 are right next to one another, but can you make those functions allow a configurable vertical gap between the bars so that we can make them look like this?
![image](https://cloud.githubusercontent.com/assets/2349007/15324259/553e60c0-1c0b-11e6-8c22-a7d186813223.png)

Design team @mwernimont and @eread-usgs feel free to vito, but I think this gives us

[2016-05-17 14:04] jordansread opened #72 "create unSort json list"
For getting back to the original position in the landuse fig (which is sorted based on longitude I think?).

@aappling-usgs do you have bandwidth for this?

[2016-05-17 14:32] mwernimont commented on #61
![colors](https://cloud.githubusercontent.com/assets/6390096/15326072/361ac510-1c12-11e6-9e9e-50363407a1ce.jpg)

[2016-05-17 14:32] mwernimont commented on #61
thoughts?

[2016-05-17 16:01] lindsayplatt commented on #7
desktop:
- stacked bar + circles
- hover over circle & opacity for square and circle increase, plus percentage pops up in circle

mobile:
- same as desktop but with no hover capability (percentage already shown in circle)

nice to have:
- lines connecting circle to bar on hover (desktop)
- static table next to stacked bar + circles
- table is dynamic and reacts to hover in stacked bar/circle and p

[2016-05-17 16:08] lindsayplatt commented on #61
group decided the two dark colors are a little too similar

[2016-05-17 16:49] ldecicco-USGS commented on #61
Do we want 2 colors for text over the colors? White is fine for the darker colors, but maybe we need a darker text color for the text on top of the light blues.

[2016-05-17 17:51] mwernimont commented on #61
![colors](https://cloud.githubusercontent.com/assets/6390096/15333147/1b774ea6-1c2e-11e6-9b36-9c3eb67f93f0.jpg)

[2016-05-17 17:51] mwernimont commented on #61
![colors](https://cloud.githubusercontent.com/assets/6390096/15333152/21a48a32-1c2e-11e6-82fe-8ee29808e8c1.png)

[2016-05-17 17:52] mwernimont commented on #61
Hows that contrast?

[2016-05-17 18:19] lindsayplatt commented on #61
what I used for the types in fig 3 (based on Laura's fig 1, but with marty's updated color)

Pellet = #aadedc
Film = #26b9da
Foam = #01b29F
Frag = #4ebec2
Fiber = #0b516b

[2016-05-17 18:23] lindsayplatt commented on #61
Does anyone think it is still hard to tell?

![image](https://cloud.githubusercontent.com/assets/13220910/15334148/8f16d684-1c32-11e6-898e-5b33e7368ada.png)

[2016-05-17 18:28] mwernimont commented on #61
looks sharp!

[2016-05-17 18:50] mwernimont opened #78 "Footer Content"
Do we have any ideas what we want in the footer?

[2016-05-17 19:15] lindsayplatt commented on #61
looks cleaner when the black outlines aren't there, but then things get difficult to distinguish

![image](https://cloud.githubusercontent.com/assets/13220910/15335914/c5bed04a-1c39-11e6-8d04-4b3a9da8b566.png)

[2016-05-17 19:31] lindsayplatt commented on #61
updated color and re-ordered plastic types with #80
Pellet = #4ebec2
Film = #0b516b
Foam = #01b29F
Frag = #aadedc
Fiber = #26b9da

[2016-05-17 20:03] lindsayplatt opened #82 "post-sprint tasks"
**MVP**
- [x] trigger for fig 3 @jread-usgs
- [x] pin figure 3 @jiwalker-usgs
- [x] fig 1 hovers @ldecicco-USGS
- [x] static table for fig 1 @lindsaycarr
- [ ] add more text @ldecicco-USGS
- [x] figures into html @jiwalker-usgs
- [x] push css for table for fig 1 please @mwernimont
- [x] put "data/envEffectsData.csv" info into siteText.yaml
- [x] create layout/templates/mustache file for references

[2016-05-17 20:49] ldecicco-USGS opened #85 "Figure 3 Firefox/IE issues"
Neither IE or firefox show the bars in Fig. 3 top panel.

[2016-05-17 20:50] ldecicco-USGS commented on #85
@jiwalker-usgs  also has margin issues too, but we can't replicate that outside of his computer....

[2016-05-17 21:16] ldecicco-USGS commented on #85
@jread-usgs have you been able to see this on the Mac?

[2016-05-18 12:23] #70 closed, assigned to lindsayplatt

[2016-05-18 12:23] #22 closed, assigned to mwernimont

[2016-05-18 12:23] #9 closed, assigned to jordansread

[2016-05-18 12:24] jordansread commented on #85
Fix in #91

[2016-05-18 12:56] #85 closed, assigned to nobody

[2016-05-18 15:44] mwernimont commented on #82
PR created for the table CSS

[2016-05-21 10:41] #10 closed, assigned to nobody

[2016-05-21 10:46] #61 closed, assigned to mwernimont

[2016-05-25 18:59] ldecicco-USGS opened #110 "We lost our trigger on sorting"

[2016-05-26 19:27] mwernimont commented on #110
The trigger only happens once, you have to refresh the app to get it to trigger again. Mine is still working, so hopefully its just a refresh issue.

[2016-05-27 03:40] jordansread opened #113 "shrink down the jpg thumbnails"
Some of these files are quite large and we are only using them as thumbnails. Two parts to this:

1) make them all the same size
2) make them all small(ish)

[2016-05-27 14:10] ldecicco-USGS commented on #110
Ah, I see. I've been viewing it on my "long" monitor (regular monitor flipped sideways). I don't think it can trigger then, but if I bring it over to my regular monitor, no problem.

[2016-05-27 14:10] #110 closed, assigned to nobody

[2016-05-27 14:11] ldecicco-USGS opened #114 "Move sandbox Fig 1 to regular fig 1"

[2016-05-27 17:40] #114 closed, assigned to jordansread

[2016-05-27 17:40] ldecicco-USGS commented on #113
Is this done?

[2016-05-27 17:42] ldecicco-USGS opened #118 "References"
@mwernimont : could you take the ref text in the siteText.yaml and put it in an accordion style table? @eread-usgs said you did it for one of the other vizzes.

[2016-05-27 17:58] mwernimont commented on #118
@ldecicco-USGS What is considered reference text in the siteText.yaml (all of it?) and where would you want this accordion table?

[2016-05-27 18:00] ldecicco-USGS commented on #118
I was referring to the references I added starting on line:

https://github.com/USGS-VIZLAB/great-lakes-microplastics/blob/master/data/siteText.yaml#L104

I'd want it at the very bottom...but above the footer. Does that make sense?

[2016-05-27 18:01] mwernimont commented on #118
It does indeed, can do

[2016-05-27 20:45] ldecicco-USGS opened #124 "Add google analytics"

[2016-05-27 20:46] ldecicco-USGS commented on #78
No idea.

[2016-05-27 21:45] ldecicco-USGS opened #125 "Add rectangle to hover on fig 3"
I might mess around over the weekend, but pretty unlikely, so @jread-usgs if you want to mess around with it, have at it.

So, a way to easily figure out what site you are hovered over.

[2016-05-30 12:56] jordansread commented on #113
no

[2016-05-31 14:11] #125 closed, assigned to nobody

[2016-05-31 14:12] #118 closed, assigned to mwernimont

[2016-05-31 14:13] ldecicco-USGS commented on #82
Closing this and making individual tasks

[2016-05-31 14:13] #82 closed, assigned to nobody

[2016-05-31 14:15] ldecicco-USGS commented on #78
@jread-usgs do you want @mwernimont to try to make a multi-purpose USGS-VISLAB footer? Snag some/most of the content on the general USGS footer?

[2016-05-31 14:30] jordansread commented on #78
yes please.

[2016-05-31 14:33] mwernimont commented on #113
@jread-usgs this should be taken care of with this #129

[2016-05-31 14:34] #113 closed, assigned to mwernimont

[2016-05-31 20:29] ldecicco-USGS opened #131 "Spacing between sections"
Can that space between the welcome and fig. 1 get minimized?

[2016-05-31 20:49] eread-usgs commented on #131
@ldecicco-USGS and @mwernimont, we need to deal with a bunch of things like this (e.g., center justified text, 'Welcome' as the title--not specific enough), and others, related to layout/design. I am going to close this issue and start a new one that lists several of those, then set up a quick meeting w Marty to discuss. @ldecicco-USGS let me know if you want to participate, but no need to, Marty

[2016-05-31 20:49] #131 closed, assigned to mwernimont

[2016-05-31 20:50] eread-usgs opened #133 "General design improvements"
Layout/design
- [x] increase space between title and text -MW
- [x] make **all** text left justified on mobile **and** desktop -MW
- [x] Re-work sections as discussed in the first sprint (Icon and facts come first) -MW
- [x] The textured background is too textur-y... Personally I like it just-ever-so-slightly-off-white, but I also have no eye for design - MW
- [x] Bigger font on the text in the bo

[2016-05-31 20:55] ldecicco-USGS commented on #133
Not sure if it goes here...but I'm not sure how to format text via the yaml, there's one spot that says 10^6...it would look nicer as 10 superscript 6.

[2016-05-31 21:05] jordansread commented on #133
I also don't think there is enough context with the relative abundance fig:
![image](https://cloud.githubusercontent.com/assets/2349007/15690500/6639e626-2749-11e6-8f23-014ab8bc28a7.png)

1.6% of what? what do these percentages mean?

[2016-05-31 21:09] aappling-usgs commented on #133
Agree w/ @jread-usgs - can we have one sentence (and maybe the photo of Austin taking samples) to explain where this barchart breakdown comes from?

And can we afford some new text to also explain how this study differs from others - in sampling tribs as well as lakes - and why that's justified/important?

[2016-05-31 21:11] jiwalker-usgs commented on #133
@ldecicco-USGS limited html is allowed in the siteText for things like superscript.  In this case putting 10<sup>6</sup> would format the text properly.

[2016-05-31 21:12] jiwalker-usgs commented on #133
sorry, that is

[code]

[2016-05-31 21:12] ldecicco-USGS commented on #133
cool

[2016-05-31 21:46] ldecicco-USGS commented on #133
some comments I've heard:

- [ ] The textured background is too textur-y... Personally I like it just-ever-so-slightly-off-white, but I also have no eye for design
- [ ] Bigger font on the text in the boxes, need to know immediately we are looking at oysters/mussels and not human ears
- [ ] Should we put a link for each of those boxes down to the proper references at the bottom?
- [ ] More promine

[2016-05-31 22:55] jiwalker-usgs commented on #124
#135 addresses this

[2016-06-01 15:31] #8 closed, assigned to jiwalker-usgs

[2016-06-02 12:55] eread-usgs opened #139 "Relative abundance figure: remove "Tributaries" as the x-axis"
"Tributaries" as the x-axis on the stacked bar chart is not necessary because it is the only bar in the figure, and is kind of confusing as shown. Instead, title and caption/legend text should explain that the data are from great lakes tribs.

[2016-06-02 12:59] eread-usgs opened #140 "Template relative abundance stacked bar chart"
We need to have this done so that this figure can have appropriate mobile layout. As of now, text is hard coded in svg. All of the text components are available in the siteText.yml: https://github.com/USGS-VIZLAB/great-lakes-microplastics/blob/master/data/siteText.yaml

[2016-06-02 13:02] eread-usgs opened #141 "Make relative abundance stacked bar chart centered in SVG"
Marty is unable to use CSS to make this figure centered on the page. Please use SVG magic to make it centered.

[2016-06-02 13:03] eread-usgs commented on #139
I can work on caption and title text if @ldecicco-USGS removes the label.

[2016-06-02 13:06] eread-usgs opened #142 "Mobile format for relative abundance SVG"
At present, the pop outs when you click on a category are too wide to see on mobile. Need to make this more narrow for mobile, perhaps by removing content such as photos and other explanatory text. This issue depends on https://github.com/USGS-VIZLAB/great-lakes-microplastics/issues/140 getting done.

[2016-06-02 13:07] eread-usgs opened #143 "Citations"
- [x] Should we put a link for each of those boxes down to the proper references at the bottom?
- [x] More prominently feature a link to the main paper at the beginning, probably needs to be a placeholder until we get a real link.
- [x] Actual hyper-links to the references (I'll work on getting those)

[2016-06-02 13:12] jordansread commented on #140
There is a mobile file svg that isn't being used in the app yet (right?). Once that goes in, I had ideas for making it fit. It has templated text in a json file that is in the repo.

[2016-06-02 13:12] eread-usgs commented on #133
I agree @aappling-usgs about adding in a little more context (1-2 sentences) that will help to tie each section to the next, and give ample context. As of now, there's not enough. I am going to take a try at this tonight and would appreciate review and edits as needed afterwards.

[2016-06-02 13:12] jordansread commented on #141
Centered but still have everything peel out to the right?

[2016-06-02 13:13] jordansread commented on #139
@ldecicco-USGS I am going to take this one since I have it at my fingertips

[2016-06-02 13:15] #6 closed, assigned to nobody

[2016-06-02 13:16] #7 closed, assigned to jordansread

[2016-06-02 13:16] #124 closed, assigned to jiwalker-usgs

[2016-06-02 13:16] #11 closed, assigned to nobody

[2016-06-02 13:17] jordansread commented on #142
here is how the mobile version looks now (obviously some formatting needed):
![image](https://cloud.githubusercontent.com/assets/2349007/15746043/6d70c598-289a-11e6-942d-a090e0a30c61.png)

[2016-06-02 13:19] #139 closed, assigned to jordansread

[2016-06-02 13:19] jordansread commented on #139
![image](https://cloud.githubusercontent.com/assets/2349007/15746101/b21aac04-289a-11e6-8956-701270a78dcc.png)

[2016-06-02 13:21] eread-usgs commented on #142
Hmmm thats not how it looks on my phone- I see the whole box with photos and all.... @jread-usgs

[2016-06-02 13:22] eread-usgs commented on #141
@jread-usgs  I dont know... Marty and I discussed this morning how to make this figure a little more appealing on the page- Marty wanted to try centering it. If you have other ideas, lets hear them.

[2016-06-02 13:23] eread-usgs commented on #142
Ok, I saw the other issue related to this one, and it seems like the mobile SVG is not being used, as you said @jread-usgs

[2016-06-02 13:34] eread-usgs commented on #140
Ok, so it sounds like just the desktop version needs templating.

[2016-06-02 19:07] ldecicco-USGS commented on #143
@eread-usgs when PR #151 is merged, could you double-check that the links in the text go to the reference they are suppose to go to?

[2016-06-02 20:05] jordansread commented on #141
Here is what centered looks like:
![image](https://cloud.githubusercontent.com/assets/2349007/15759188/6683c45e-28d3-11e6-8f97-ef7e63e1c994.png)

[2016-06-02 20:07] ldecicco-USGS commented on #141
Can it be centered on the expanded image?

[2016-06-02 20:07] ldecicco-USGS commented on #141
Like, in that picture, I'd eyeball the center at about the 2nd "n" in "Fibers and Lines"

[2016-06-02 20:08] jordansread commented on #141
original:
![image](https://cloud.githubusercontent.com/assets/2349007/15759336/e6376192-28d3-11e6-989d-c6c9b56410e2.png)

[2016-06-02 20:11] ldecicco-USGS commented on #141
Mine doesn't look that nice, but still prefer what I see now to the centered version above:

[2016-06-02 20:11] ldecicco-USGS commented on #141
![image](https://cloud.githubusercontent.com/assets/1105215/15759449/3eb145a4-28d4-11e6-8d5a-1cbc8034d80d.png)

[2016-06-02 20:12] jordansread commented on #141
oh, I changed the main.css in mine to use 100% instead of the 760px value that was in there. That is one difference

[2016-06-02 20:14] ldecicco-USGS commented on #141
OK, then that's my vote.

[2016-06-02 20:21] jordansread commented on #141
kind of splitting the difference here: adding a small left margin buffer:

Either way, if you want to mod it @mwernimont the relativeAbundance.mustache is the file to do it in.

[2016-06-02 20:22] jordansread commented on #141
see #153

[2016-06-02 20:25] jordansread commented on #142
I can make this work for mobile, but I think I will prioritize that after the mobile form factor is in place in the viz

[2016-06-02 20:26] jordansread commented on #140
@mwernimont I think you or @jiwalker-usgs need to do this one. I don't have the skillz

[2016-06-02 20:27] jordansread commented on #140
hmmm...maybe I am confused by this. I was thinking we need the templated mobile vs desktop version of this app? Now I see you are talking about text only I think

[2016-06-02 23:32] eread-usgs opened #154 "remove boxes around icons/facts"
for a cleaner look

[2016-06-02 23:35] eread-usgs opened #155 "make y axes horizontally oriented"
These two line, vertically oriented axis labels are pretty hard to read- we need these words to be immediately recognizable to users and they are not as of now.

@ldecicco-USGS or @jread-usgs not sure which of you would be best suited to deal with this one....

![screen shot 2016-06-02 at 7 34 11 pm](https://cloud.githubusercontent.com/assets/7794368/15764457/0b9e0092-28f9-11e6-88d1-9c69a8b34636.p

[2016-06-02 23:36] eread-usgs commented on #155
Might have to wrap the text a bit more to get there...

[2016-06-03 01:28] jordansread commented on #155
Here is what I came up w/:

![image](https://cloud.githubusercontent.com/assets/2349007/15766043/94dd2ef8-2900-11e6-8b4d-2988306fd11c.png)

[2016-06-03 01:31] jordansread opened #157 "Fig three never triggers the `landUse-p2` tag"
This is supposed to show up on the sort trigger:

landUse-p2: >-
  Fragments, films, and foams were more frequent in samples from more urban basins

[2016-06-03 02:41] ldecicco-USGS opened #158 "Default reference list open"
I mentioned this in the PR...but there are links in the boxes now that go down to the reference section. But, it doesn't work with the default of the references being hidden. Can we either make the default that the references are all shown...do some fancy javascript if the user clicks the link in the boxes to open the ref list, or something else (maybe all the links in the box simply go to the Ref

[2016-06-03 12:30] eread-usgs commented on #155
looks good @jread-usgs

[2016-06-03 14:43] mwernimont commented on #157
well it's not in the file to be triggered, so I think thats the main problem

[2016-06-03 14:47] mwernimont commented on #158
fixed with #159

[2016-06-03 14:47] mwernimont commented on #154
fixed with #159

[2016-06-03 15:35] #154 closed, assigned to nobody

[2016-06-03 15:35] #158 closed, assigned to mwernimont

[2016-06-05 16:30] jordansread opened #162 "Land-use fig too compressed w/ horizontal y-labels"
Proposal:
![image](https://cloud.githubusercontent.com/assets/2349007/15806769/dde5d264-2b10-11e6-8829-a4b6c2f8c3ff.png)

(was this):
![image](https://cloud.githubusercontent.com/assets/2349007/15806771/e8d4f1dc-2b10-11e6-9314-2a944577baab.png)

Thoughts @eread-usgs @ldecicco-USGS ?

[2016-06-05 22:21] eread-usgs commented on #162
👍

[2016-06-06 14:20] mwernimont commented on #133
@eread-usgs I know it says all text left justified, but I don't think the icon text would look all that great if it were left justified with the big number.

[2016-06-06 14:41] jordansread opened #166 "each section should fade in with scroll to keep consistent feel"
So, for this:

![image](https://cloud.githubusercontent.com/assets/2349007/15825822/d6180bfa-2bca-11e6-9ee7-6dbcd7446a27.png)

The next text block should have opacity = 0 until trigged. Same w/ the relativeAbundanceFig.

[2016-06-06 14:56] mwernimont commented on #166
@jread-usgs should be realized through #168

[2016-06-06 14:58] jordansread commented on #166
👍

[2016-06-06 14:58] #166 closed, assigned to mwernimont

[2016-06-06 15:05] mwernimont commented on #157
@jread-usgs the text you wanted to appear appears thanks to #169. I'm wondering though if we want just that text to switch out, or both as we have it now? Also do you think the sorting trigger takes too long? As in too much scrolling needed?

[2016-06-06 22:44] jordansread commented on #133
agreed. @mwernimont I think that one is fine as-is

[2016-06-06 22:57] #141 closed, assigned to jordansread

[2016-06-06 23:00] #155 closed, assigned to ldecicco-USGS, jordansread

[2016-06-06 23:00] #162 closed, assigned to nobody

[2016-06-08 21:35] aappling-usgs commented on #72
reopening because still need EventListener

[2016-06-08 22:50] jordansread opened #173 "references should fade in too"
It should appear after "what's next" not before:

![image](https://cloud.githubusercontent.com/assets/2349007/15913746/7dd8cba4-2da1-11e6-92c1-84c9ac529bf8.png)

[2016-06-08 22:50] jordansread commented on #133
closing this once since all the boxes are complete

[2016-06-08 22:50] #133 closed, assigned to mwernimont, eread-usgs

[2016-06-09 13:30] eread-usgs opened #174 "make stacked bar chart top panel the same size as bottom?"
Any way the two panels on the land use figure could be the same size? On a smaller screen, the top label and bottom label barely fit on the page. It'd be nice if the whole thing completely fit, to avoid a cramped/awkward feel.

![screen shot 2016-06-09 at 9 28 13 am](https://cloud.githubusercontent.com/assets/7794368/15931205/bbd76dd8-2e24-11e6-806b-e9e2ecc598e3.png)

[2016-06-09 13:32] #173 closed, assigned to mwernimont

[2016-06-09 13:33] eread-usgs commented on #174
I showed the viz to John Hoffman, who gave some great feedback on the CRB drought viz, and he was using a smaller screen device, and I watched him struggle to get this figure to show up completely on his screen, by zooming out to 75% so he could see the whole thing....

[2016-06-09 13:35] mwernimont commented on #174
@eread-usgs I have made adjustments due to the text rearrangements, can we relook at this before any changes are made? Each time new text is added, the graph is manipulated...etc, I have to go and adjust the scroll magic triggers over again. I'm on around the 5th time doing so and would appreciate a relook before more changes were made.

[2016-06-09 13:36] mwernimont commented on #174
I also resized the graph to be a bit smaller for screen adaptability as well in the last PR

[2016-06-09 13:42] jordansread commented on #174
Again on this, until we are actually using the `-mobile` figs in the html, we are kind of handcuffed. we can easily make some mods which would be best for each device, but only `-desktop` is being used...

[2016-06-09 13:51] jordansread commented on #174
Would it make sense to scale this fig based on % of vertical screen extent?

[2016-06-09 13:58] mwernimont commented on #174
I always like the % scaling, but idk how that would effect the triggers on each screen. It's not the easiest thing to have the triggers match up on all devices.

[2016-06-09 16:51] #143 closed, assigned to ldecicco-USGS

[2016-06-09 16:53] ldecicco-USGS opened #177 "Picture side-by-side with text"
@mwernimont could you put the text on the left, and the river sampling picture on the right in the section:
Microplastics in rivers
I'd guess use the same ratio as the stuff in the section "Where are in our waterways are microplastics found?"

[2016-06-09 17:28] mwernimont commented on #177
@ldecicco-USGS just this text "They found that rivers carry many kinds of microplastics, of which microbeads are a surprisingly small fraction.
Instead, fibers averaged 71% of the total number of microplastics particles in these river water samples." ?

[2016-06-09 17:31] ldecicco-USGS commented on #177
I was thinking this whole thing would be left of the picture:

[code]

[2016-06-09 17:32] mwernimont commented on #177
👍

[2016-06-09 18:01] mwernimont commented on #177
#178 should take care of this @ldecicco-USGS

[2016-06-09 18:03] ldecicco-USGS commented on #177
perfect

[2016-06-09 18:03] #177 closed, assigned to mwernimont

[2016-06-13 23:38] eread-usgs opened #181 "32 particles in great lakes water needs citation"
I think it will just be to Austin and Steve's citation, but we need a super scripted citation for this one. Otherwise it kind of looks like the citation for the following fact is holds for both.
![screen shot 2016-06-13 at 7 34 57 pm](https://cloud.githubusercontent.com/assets/7794368/16026722/76385bb6-319e-11e6-8694-03020b9796f1.png)

[2016-06-13 23:39] eread-usgs commented on #181
And I think there's already a preliminary citation in place in the list for that, just not with the journal details.

[2016-06-15 20:51] ldecicco-USGS commented on #181
Both blurbs are for Austin's paper, right?

[2016-06-15 20:58] ldecicco-USGS commented on #181
If so, should we (to be consistent) put a citation for both the oysters and mussels?
I was originally just putting one citation per "box".

[2016-06-20 14:44] ldecicco-USGS opened #182 "Abundance graph needs legend"

[2016-06-20 15:28] jordansread commented on #182
👍

[2016-06-20 15:58] ldecicco-USGS commented on #78
Can we get this finished? Should we just take out the line "URL: http://vizzy.awesome.com"....or do we want/need to get it more inline with other USGS pages?

[2016-06-21 19:08] ldecicco-USGS opened #183 "Possible Fig. 3 change"
One reviewer thought the land use figure might be more clear in this format:

![2016-06-21_13-54-29](https://cloud.githubusercontent.com/assets/1105215/16242388/c9d8315a-37b7-11e6-86aa-690086a33565.png)

@lindsaycarr could you set up the basic `gsplot` object to explore if that's a good idea?

I wouldn't delete that older code (that created the stacked bars), but just put it together so we can mak

[2016-06-21 19:11] ldecicco-USGS commented on #181
So just to clarify @eread-usgs .... citation 3 in your screenshot is Austin and Steve's paper. Do you want the 3 to show up in both factoids? Or, should the >13,000 factoid have a different reference

[2016-06-21 19:17] lindsayplatt commented on #183
- [ ] gsplot basic graphs for the individual microplastic types
- [ ] svg-ify the new graphs (@jread-usgs)

Laura recommends keeping the landuse graph on top of the mega-stack graph (instead of on the bottom where it currently is)

[2016-06-22 16:17] jordansread commented on #183
Is it possible for me to veto this effort at this point? I don't think it is a better way to display the data and is challenging to fit on landscape screens without making the figures very small.

[2016-06-22 16:22] lindsayplatt commented on #183
I was planning to start working on it this afternoon. So if we are going to veto, I would prefer that to be soon.

I agree though @jread-usgs. Doing this would remove the advantage of our viz vs the static graphs in the paper - you can hover over each bar to get that same information

[2016-06-22 16:28] jordansread commented on #183
vetoed.

[2016-06-22 16:28] #183 closed, assigned to lindsayplatt

[2016-07-07 18:40] ldecicco-USGS opened #185 "trigger content sooner"
"The “appearing” content is a bit disorienting. Subconsciously, when I don’t see content lower on the page, I think there is no more content. I’d recommend either getting rid of it, or at least moving the triggers higher so that there is less white space before the items appear."

I agree with this. @jiwalker-usgs  or @mwernimont can we address this easily? Honestly, I think there's a time and a p

[2016-07-07 18:41] ldecicco-USGS commented on #181
@eread-usgs I'm going to close this issue, and open one that specifically numbers the references at the bottom. If you still think this issue is active, please reopen.

[2016-07-07 18:41] #181 closed, assigned to nobody

[2016-07-07 18:42] ldecicco-USGS opened #186 "Number references"
so the numbers make sense when referenced in figures.

[2016-07-07 18:53] mwernimont commented on #185
Yeah we can just get rid of the fade. Want it gone?

[2016-07-07 18:54] ldecicco-USGS commented on #185
yeah

[2016-07-07 19:09] mwernimont commented on #185
Asked JWalks to look it over, but the PR for no fades is right here, #187

[2016-07-07 20:28] #185 closed, assigned to nobody

[2016-07-07 20:41] #186 closed, assigned to ldecicco-USGS

[2016-07-27 18:51] ldecicco-USGS commented on #174
I know nothing about mobile...I'm closing this issue, but feel free to reopen

[2016-07-27 18:51] #174 closed, assigned to nobody

[2016-07-27 18:52] #157 closed, assigned to mwernimont

[2016-07-27 18:52] #142 closed, assigned to jordansread

[2016-07-27 18:55] #78 closed, assigned to mwernimont

[2016-07-27 18:57] ldecicco-USGS commented on #72
I think it's OK to leave this as once it's sorted...that's it. Future SVGs can get fancier....

[2016-07-27 18:57] #72 closed, assigned to aappling-usgs

[2016-07-27 19:16] ldecicco-USGS opened #188 "USGS header footer"
Can you add the basic USGS headers and footers to this @mwernimont ?  I'm guessing a little magic in the footer.mustache and header.mustache.

[2016-07-27 19:22] ldecicco-USGS opened #190 "Social media icons"
We left some placesholders here. If we just use the old fashion USGS header, I think that's fine. But, if you had something in mind, let's not let it linger too long.

One thing we could do is steal the way the blogs do things:
![2016-07-27_14-21-44](https://cloud.githubusercontent.com/assets/1105215/17189084/8dd62f26-5405-11e6-8d16-eb375aece0e5.png)

[2016-07-27 20:17] #188 closed, assigned to mwernimont

[2016-07-28 15:45] #190 closed, assigned to mwernimont

[2016-08-02 14:26] ldecicco-USGS commented on #140
I don't understand this issue. Could @eread-usgs or @jread-usgs or @jiwalker-usgs add some details or close it?

[2016-08-02 21:05] ldecicco-USGS opened #194 "Remove whitespace"
There always seems to be excessive whitespace between the figures. If there's a way to not use percentage of screen to determine placement, that would be my vote:

![2016-08-02_16-04-31](https://cloud.githubusercontent.com/assets/1105215/17345285/e1125d30-58ca-11e6-8328-6ad118a3a979.png)

[2016-08-03 17:58] mwernimont commented on #194
@ldecicco-USGS So I don't see these giant white spaces on my local version, are you viewing this on your vertical monitor?

[2016-08-03 17:59] mwernimont commented on #194
If you are that'd be why theres giant spaces, and how many people would view it on a monitor like it would be my question?

[2016-08-04 16:23] ldecicco-USGS commented on #194
OK, what's interesting to me I guess is that if I drag my window over to my normal monitor, and then resize the window to something typical, the excessive whitespaces remain. If I hit refresh, then they get better...I didn't realize I'd have to refresh (so up until now, I thought it was bad on both monitors.)

[2016-08-04 16:23] #194 closed, assigned to mwernimont

[2016-08-04 16:52] ldecicco-USGS opened #198 "Make title bigger?"
"I guess I would have expected something centered over the rest of the content, and maybe bigger.  Guess that’s personal preference though"

If it's something you think should be fixed up @mwernimont ...have at it.

[2016-08-04 16:52] ldecicco-USGS commented on #198
And if you like it as is, just close the issue.

[2016-08-04 16:55] ldecicco-USGS opened #199 "Fig 3 not taking full width"
@mwernimont could you check on this to see if your magic can fix it?

[2016-08-04 17:29] mwernimont commented on #198
@ldecicco-USGS #200 Made the title bigger and put it in a new place. Too white now without the blue line?

[2016-08-04 17:35] ldecicco-USGS commented on #198
Looks good to me. Thanks for the speediness

[2016-08-04 17:35] #198 closed, assigned to mwernimont

[2016-08-04 18:03] mwernimont commented on #199
@ldecicco-USGS #201 makes figure 3 full width, if we decide to remove the sort, that will be a quick change, I think?

[2016-08-04 19:25] eread-usgs opened #202 "design: take off dark outline on 1st bar chart pop outs, make boxes same color"
Looks like we are doing some final clean up. In order to make this figure consistent with the look and feel of the rest of the viz, I recommend a few changes to the first barchart. I'm not sure who can tackle this but maybe @mwernimont @ldecicco-USGS or @jread-usgs

1) make the fill of all of the pop outs the same (as of now constant and mouse-over pop ups have different background)
2) take off th

[2016-08-04 19:27] eread-usgs commented on #202
And I know this does break somewhat wiht the rest of the viz, in that all of the other text is just clean black text on white background, but those dark outlines make it look less clean and modern, as does the inconsistent fill. Open to other ideas if people have them.

[2016-08-04 19:30] ldecicco-USGS commented on #202
Also, @wdwatkins had a suggestion to add links to wikipedia or other sources for some of the more confusing words (oxidative stress for example). Also, maybe have a heading above the examples that says..."Examples"

I spent a little time trying to figure out how to do both of those, and couldn't quite make it work. But if we do start messing with this figure, those would be other good things to ad

[2016-08-04 19:30] #199 closed, assigned to nobody

[2016-08-04 19:34] ldecicco-USGS opened #203 "Convert metric to imperial"
To be more accessible to a general audience:

43157 particles/km2 -> 111776 particles/mi2 (round to 112000)
32 particles/m3 -> 0.906 particles/ft3 ("Nearly 1 particle per cubic feet"?)

[2016-08-04 19:35] ldecicco-USGS opened #204 "Wrong citation for sediment fact"

[2016-08-04 20:10] #203 closed, assigned to ldecicco-USGS

[2016-08-04 20:16] #204 closed, assigned to ldecicco-USGS

[2016-08-04 20:36] ldecicco-USGS opened #206 "Add picture breaks"
Some great full resolution images are here:
M:\QW Monitoring Team\GLRI toxics\Microplastics\VizPhotos

@mwernimont do you want to use your professional eye to pick out ones for the "chapter breaks"?  I have a few favorites, but don't know if the need to be in a certain rotation or cropped or something.

[2016-08-04 21:18] ldecicco-USGS commented on #202
@jread-usgs ...if I wanted to try to include links, would that be in the "relativeAbundance-xx.json" files? It's not looking at the siteText.yaml ?

[2016-08-04 22:12] jordansread commented on #202
That's where they would be, yes. But not sure if <a> works in there..?

[2016-08-05 15:29] ldecicco-USGS commented on #202
Sorry....I'm confused "But not sure if works in there" means you are not sure if links would work in svg? or something else..?

Also...confused (due to my poorly worded question) by "That's where they would be, yes"...to update the text in that figure, I update the json files, correct?

[2016-08-05 15:33] jordansread commented on #202
Not sure you can use > chars in Json.

Yes, update that file to change the text.

Oh I see above it cut out my < in the comment

[2016-08-05 15:36] ldecicco-USGS commented on #202
got it! mental note: check raw comments if confused, this has happened multiple times for me.

[2016-08-08 12:56] mwernimont commented on #206
@ldecicco-USGS I'd prefer you choose the ones you like and if theres an issue with one we can discuss and get a different one if needed.

[2016-08-09 15:15] ldecicco-USGS commented on #206
OK, I pushed up some pictures to the repo. My recommendations (at least to start) are to add them:

Pictures:
1. "Microplastics in our waterways" = bad_ds_oct2015.jpg
2. "Where in our waterways are microplastics found?" = whereInWater.jpg
3. "What are the known risks of microplastic pollution?" = knownRisks.JPG
4. "Can we kick the microplastics habit?" = kickHabit.jpg
5. "Microplastics in rivers"

[2016-08-09 15:17] ldecicco-USGS commented on #202
@jread-usgs can you take care of the style issues @eread-usgs brought up here?

[2016-08-09 15:58] ldecicco-USGS commented on #206
Alt text:

bad_ds_oct2015.jpg = "Late fall on the Bad River in WI"

whereInWater.jpg = "USGS scientist sampling for microplastics on the Nemadji River in WI"

mpsampling.jpg = "Microplastic samples"

kickHabit.jpg = "Sampling on the Milwaukee River as the water enters Lake Michigan"

microInRivers.jpg = "Scientists wading for microplastics samples on the Manitowoc River"

howArePlastics.jpg = "Vie

[2016-08-09 15:58] mwernimont commented on #206
@ldecicco-USGS I will get on this, this afternoon.

[2016-08-09 15:59] ldecicco-USGS commented on #206
Awesome! Let me know if there's anything I can help with. Feel free to do whatever you want cropping-wise.

[2016-08-09 17:55] mwernimont commented on #206
@ldecicco-USGS So unfortunately the microinrivers and the kickthehabit photos that were picked probably aren't going to work out. Since they have a portrait orientation over a landscape orientation. I could crop it fit the sizes I have picked out for the others ones, but will most likely not be what you wanted to convey with the image, since a large chunk would be taken out of its height.

[2016-08-09 18:06] mwernimont commented on #206
![croptry01](https://cloud.githubusercontent.com/assets/6390096/17527725/1fdd8118-5e32-11e6-8758-3f75b664fd6d.jpg)
![croptry02](https://cloud.githubusercontent.com/assets/6390096/17527726/1fdef0ac-5e32-11e6-8cfc-febff65abdf8.jpg)

[2016-08-09 18:07] mwernimont commented on #206
Theres the ability to crop at different section of the images, but the orientation would be like this either way

[2016-08-09 18:25] ldecicco-USGS commented on #206
I'll add a few others that might work better, although what you pasted here is not too bad either

[2016-08-09 23:10] jordansread commented on #202
Yes, will do

[2016-08-10 16:06] jordansread opened #215 "slight rotation on background"
I'm not the only one in the world that cringes when the horizon is angled:

![image](https://cloud.githubusercontent.com/assets/2349007/17561184/8181e702-5eea-11e6-8ee0-176c42d5254d.png)

[2016-08-10 16:38] jiwalker-usgs commented on #215
Or maybe you are...

[2016-08-10 17:50] mwernimont commented on #215
I actually think I can fix that.

[2016-08-10 17:58] mwernimont commented on #215
![howareplastics](https://cloud.githubusercontent.com/assets/6390096/17564731/247e88ca-5efa-11e6-8b87-0e16ed4b4b9b.JPG)

@jread-usgs Hows this treat your OCD?

[2016-08-10 18:06] #215 closed, assigned to nobody

[2016-08-10 18:06] #206 closed, assigned to mwernimont

[2016-08-10 18:06] #202 closed, assigned to nobody

[2016-08-10 18:08] ldecicco-USGS commented on #182
@jread-usgs could you add a legend like this:

![2016-08-10_13-05-33](https://cloud.githubusercontent.com/assets/1105215/17565056/66c27772-5efb-11e6-910c-0fa5e98de5a3.png)

[2016-08-10 18:09] ldecicco-USGS commented on #182
If you don't have time, I'll give it a go tonight.

[2016-08-10 18:13] ldecicco-USGS opened #219 "Photo contrasts"
@mwernimont I know nothing about publishing pictures, but feel free to use photoshop to sharpen contrast or do whatever it is that graphic designers do to enhance the keynote pictures. If you think they're good as is, feel free to close this issue.

[2016-08-10 18:15] ldecicco-USGS commented on #219
In general, all the pictures seem darker than the originals:

![2016-08-10_13-15-05](https://cloud.githubusercontent.com/assets/1105215/17565301/8918cc6c-5efc-11e6-99c8-96d2dc9f3fad.png)

[2016-08-10 18:19] ldecicco-USGS opened #220 "Increase font size"
Can we across the board make the font size a bit bigger? Whatever the climate-change-walleye-bass size is using, I think that would be better.

[2016-08-10 18:22] mwernimont commented on #219
@ldecicco-USGS Thats a dimmer div I put on the keynotes to make the text easy to read. The picture hasn't lost any sharpness. :) Its just a div with a black opacity over it to help the white text pop.

[2016-08-10 18:24] mwernimont commented on #220
![vision-problems](https://cloud.githubusercontent.com/assets/6390096/17565594/b37e0a3e-5efd-11e6-8476-ca300700f66f.jpg)

I sure can 😄

[2016-08-10 18:26] ldecicco-USGS commented on #219
I'd vote to make the white text a big bigger (and maybe bolder, ie thicker?) and lose the dimmer...the pictures all are dramatically darker. They look so dreary compared to the originals...

[2016-08-10 18:27] mwernimont commented on #219
I can do that too if you like

[2016-08-10 18:29] ldecicco-USGS commented on #219
Let's do it.

[2016-08-10 18:45] jordansread commented on #219
I like the dimmer effect personally

[2016-08-10 18:46] mwernimont commented on #219
Well its easy to put back in if you guys confer and decide to go back

[2016-08-10 18:48] jordansread commented on #219
The reason we used a div overlay for this is so we could easily change the overlay opacity. Just set opacity to 0 if you want the regular image.

[2016-08-10 18:49] mwernimont commented on #219
Then you just useless code sitting there if you never want it back. I think its you want it or ya don't type of situation

[2016-08-10 18:49] jordansread commented on #182
should the legends be the same for both then? Horizontal?

[2016-08-10 18:50] mwernimont commented on #219
We also did the div overlay to make it an easy photo exchange over me having to put a dim of the photos themselves

[2016-08-10 18:50] jordansread commented on #219
fair enough. Yep

[2016-08-10 18:51] jordansread commented on #219
Really just depends what you are using the background images for. Is it supposed to be informative and share some detail, or be a true background that is supposed to emphasize the chapter text.

[2016-08-10 18:52] mwernimont commented on #219
I personally see the text more important than the BG, but thats just me, which I see the dimmer emphasizing.

[2016-08-10 19:05] ldecicco-USGS commented on #219
OK, I played around a little in Firebug, and would offer a compromise of keeping the dimmer but reducing it to 0.2 with the bigger font. So, I'll close that PR and submit a new one.

[2016-08-10 19:05] #219 closed, assigned to nobody

[2016-08-10 19:09] ldecicco-USGS commented on #182
well, I was just thinking from a space resource perspective we could fit it there. The words on the top plot might have to shrink too much to go horizontal?

It would make sense to be consistent if possible, but not if we have to squint to read the words.

[2016-08-10 19:18] jordansread opened #223 "bigger vertical margin buffer?"
![image](https://cloud.githubusercontent.com/assets/2349007/17567503/42fef0fe-5f05-11e6-98ea-c6a017f0e53d.png)

upper and lower buffers should be increased I think?

[2016-08-10 19:18] jordansread commented on #223
between text and chapter break

[2016-08-10 21:24] #182 closed, assigned to jordansread

[2016-08-10 21:59] jordansread opened #226 "rotated pic needs to be cropped"
![image](https://cloud.githubusercontent.com/assets/2349007/17572739/cd903ad2-5f1b-11e6-8696-73392d6e1228.png)

Can see angles in the margins here.

[2016-08-11 15:13] ldecicco-USGS commented on #226
using happier fish

[2016-08-11 15:13] #226 closed, assigned to nobody

[2016-08-11 15:14] ldecicco-USGS opened #228 "Add image to conclusion"
I was hoping to do this on my own, but I don't know what's the deal with the References. I pushed my code already, @mwernimont could you have a look?

![2016-08-11_10-12-11](https://cloud.githubusercontent.com/assets/1105215/17593684/57a7d58c-5fac-11e6-99d0-b5f4d34cfd65.png)

[2016-08-11 15:16] ldecicco-USGS opened #229 "Alt text for non-keynote images"
When the keynote images are hovered over, the alt text shows up. This doesn't happen on the static images. Is there some other tag we should be using? Or is it fine as is?

[code]

[2016-08-11 15:18] jordansread commented on #228
censored plover

[2016-08-11 15:25] mwernimont commented on #229
The BG's have a title, which pop up with mouse overs. Alt text is more for text readers. If you want the hover over for the other images just add a title to it. `<img src="images/Piper.jpg" alt="Piping Plover" title="What you want to appear over hover"/>`

[2016-08-11 15:26] mwernimont commented on #229
But that said titles aren't a thing you absolutely need, more if you want it. So if we add it or not no harm or foul either way

[2016-08-11 15:26] ldecicco-USGS commented on #229
Cool, good to know. I'll add

[2016-08-11 15:27] ldecicco-USGS commented on #229
What should the difference between the two be in terms of content? Can they be the same?

[2016-08-11 15:35] mwernimont commented on #229
They can be exactly the same.

[2016-08-11 15:35] mwernimont commented on #229
No biggie

[2016-08-11 15:36] mwernimont commented on #229
whoops, well this website says this "Image title (and the element name speaks for itself) should provide additional information and follow the rules of a regular title: it should be relevant, short, catchy, and concise (A title “offers advisory information about the element for which it is set.“). In FireFox and Opera it pops up when you hover over an image::

Alt text is meant to be an alternativ

[2016-08-11 15:44] #228 closed, assigned to mwernimont

[2016-08-11 15:47] #229 closed, assigned to mwernimont

[2016-08-11 16:21] ldecicco-USGS commented on #220
I like it. I pushed it to dev. The headers are now the same size as the paragraphs, and the bullet points are still small. That being said, I think it looks fine that way, so I'm going to close the issue. But, have a look and if you disagree, you can feel free to do another pull request with some more fancy css updates.

[2016-08-11 16:21] #220 closed, assigned to mwernimont

[2016-08-11 17:13] mwernimont commented on #223
sorry

[2016-08-11 18:29] ldecicco-USGS opened #234 "title for coaster picture"
Any idea why the title isn't showing up for the coaster (fish) picture? If I inspect the element, it's there. It's a pretty large resolution picture, should we make it a smaller file size, lower resolution?

[2016-08-11 19:00] ldecicco-USGS commented on #234
And sampling picture.

[2016-08-11 19:01] ldecicco-USGS commented on #234
From @jiwalker-usgs "the div with the text is covering it, you can get the title to show up if you hover over the top of the picture"

I don't know how to fix this.

[2016-08-11 19:09] mwernimont commented on #234
Can look into it

[2016-08-11 19:16] mwernimont commented on #234
@ldecicco-USGS #236 This fixed it for me

[2016-08-11 19:20] ldecicco-USGS commented on #234
Boom

[2016-08-11 19:20] #234 closed, assigned to mwernimont

[2016-09-06 21:02] ldecicco-USGS opened #240 "Share button's get hidden"
@mwernimont

I tried to follow the pattern in the fish-climate viz to get the sharing buttons for this one. I see them load, but then the larger background image loads slower and covers them up. Do you have a quick fix for that?

http://dev-owi.usgs.gov-website.s3-website-us-west-2.amazonaws.com/vizlab/microplastics/

[2016-09-07 18:49] ldecicco-USGS commented on #240
I don't know why I couldn't figure it out yesterday, but today it's working.

[2016-09-07 18:49] #240 closed, assigned to mwernimont

[2016-09-07 21:10] ldecicco-USGS opened #244 "Facebook share also not working."
and card validator:

https://cards-dev.twitter.com/validator

[2016-09-07 21:18] ldecicco-USGS opened #245 "No thumbnail"

[2016-09-07 21:49] #245 closed, assigned to nobody

[2016-09-07 21:52] ldecicco-USGS commented on #244
Card validator does work...facebook still no.

[2016-09-10 04:13] #244 closed, assigned to nobody

[2016-09-10 04:14] ldecicco-USGS opened #247 "Images totally zoomed in on ipad"
Only the keynotes images.

[2016-09-10 04:15] ldecicco-USGS commented on #247
Same with climate viz

[2016-09-12 15:55] mwernimont commented on #247
@ldecicco-USGS Will get on this after lunch

[2016-09-12 17:18] mwernimont commented on #247
@ldecicco-USGS No ipads in the office apparently, so will work on this tomorrow am.

[2016-09-13 12:56] jordansread opened #249 "abundance stacked bar doesn't look good on mobile"
seeing a high percentage of mobile traffic on climate/fish viz. Probably will see similar here.

![image](https://cloud.githubusercontent.com/assets/2349007/18474431/8c6d1454-7987-11e6-8976-4fc6cf2e95ac.png)

I still think we should be supporting a mobile version here...

[2016-09-13 13:54] mwernimont commented on #247
@ldecicco-USGS This was merged. #250 So ipad should look normal. And we should remember as group to remind me next time we do parallax that we need this for ipad. ;)

[2016-09-13 13:57] ldecicco-USGS commented on #249
Can you describe what might be done? You know I don't know #VLFP (viva la flip phone!!)

[2016-09-13 13:59] ldecicco-USGS commented on #247
Thanks! Are you doing the same for fish? @jiwalker-usgs ...can we bake it into the package so we don't need to remember?

[2016-09-13 13:59] #247 closed, assigned to mwernimont

[2016-09-13 14:00] ldecicco-USGS commented on #247
nevermind....I see it

[2016-09-13 14:37] jiwalker-usgs commented on #247
@ldecicco-USGS we are switching up the keynotes to a more general template, so we'll be able to include some css with that to take care of it.  I'll make an issue so it isn't lost.

[2016-09-13 16:28] ldecicco-USGS commented on #249
Maybe just take the pictures out?